
body{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
    background-color: #BEE7F3;
}
#dvContent{
    padding: 10px;
    min-height: 590px;
    border-top: 2px solid #0A0404;
}

#dvHeading{
    background-color: green;
}

#dvTabMenu{
    margin-left: 33%;
}

#dvDisplay{
    border-radius: 5px;
    border: 5px solid green;
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

.branding{
    background-color: #76ECEC;
    height: 100px;
}

.main-container{
    min-height: 660px;
    background-color: lightskyblue;
}
.page-container{
    min-height: 350px
}
.md-tab.md-active{
    background-color: #8C9EFF;
}

.md-tab:hover{
    background-color: #8C9EFF;
}
md-tabs.md-default-theme .md-tab, md-tabs .md-tab{
    color: white;
}

md-tabs-canvas{
    background-color: green;
}

#dvFooter{
    background-color: #333;
    color: #fff;
    margin-top: 5px;
    height: 3.5em;
    padding: 5px;
}

#dv-designer-info{
    float: right;
    color: #6B6262;
    text-align: center;
    font-size: 11pt;
}
#dv-designer-info:hover{
    color: white;
}
#ttAppVersion{
    padding-top: 5px;
}


#slides_control > div{
    height: 200px;
}

img{
    margin:auto;
}
#slides_control {
    width: 400px;
}

#contact-number{
    width: 300px;
    height: 80%;
    float: right;
    padding: 10px;
}

.dv-contact-icon{
    width: 20px;
    margin-left: 15px;
    float: left;
    color: blue;
}

.blibk-book-appt {
    animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}

#dv-footer-content{
    display: flex;
    justify-content: space-around;
}
