
body{
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0px;
}
#dvContent{
    padding: 10px;
    border-top: 2px solid #0A0404;
}

.main-container{
    height: 100%;
    width: 100%;
    background-color: #9DACB1;
}

#dvHeading{
    background-color: green;
}
.terms-of-use a{
    color: #FFFFFF;
}
.terms-of-use{
    vertical-align: middle;
    margin-top: 8px;
    display: inline-block;
}
#dvTabMenu{
    margin-left: 33%;
}

#dvDisplay{
    border-radius: 5px;
    border: 5px solid green;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #D3F3D9;
}

.branding{
    background-color: #76ECEC;
    height: 100px;
}


.page-container{
    min-height: 350px
}
.md-tab.md-active{
    background-color: #D3F3D9;
}

.md-tab:hover{
    background-color: #8C9EFF;
}
md-tabs.md-default-theme .md-tab, md-tabs .md-tab{
    color: white;
}

md-tabs-canvas{
    background-color: green;
}

#dvFooter{
    background-color: #333;
    color: #fff;
    margin-top: 5px;
    font-family: monospace;
    padding: 5px;
}

#dv-designer-info{
    float: right;
    color: #6B6262;
    text-align: center;
}
#dv-designer-info:hover{
    color: white;
}
#ttAppVersion{
    padding-top: 5px;
}


#slides_control > div{
    height: 200px;
}

img{
    margin:auto;
}
#slides_control {
    width: 400px;
}

#contact-number{
    width: 300px;
    height: 80%;
    float: right;
    padding: 10px;
}

.dv-contact-icon{
    width: 20px;
    margin-left: 15px;
    float: left;
    color: blue;
}

.blibk-book-appt {
    animation: blinker 1.5s linear infinite;
    color:#0323A2;
}

@keyframes blinker {  
    50% { opacity: 0.0; }
}

#dv-footer-content{
    display: flex;
    justify-content: space-around;
}
#logo-container{
    width: 70%;
    float: left;
    height: 100%;
}
.logo-img-top{
    padding-left: 20px;
}
#dvResourceNotFound{
    text-align: center;
}

#dv-footer-content div{
    padding: 5px;
}

.fa-exclamation-triangle{
    color: #FF3300;
} 


@media only screen and (max-width:1279px) and (min-width:956px) {
    #dvTabMenu{
        margin-left: 20%;
    }

    #contact-number{
        width: auto;
        padding: 6px;
    }

}

@media only screen and (max-width: 955px) {
    #dvDisplay{
        border: 1px solid green;
        max-width: 100%;
    }
    #dvTabMenu{
        margin-left: 5px;
    }
    #logo-container{
        width: 60%;
    }
    #dvTabMenu md-content{
        width: 100%;
    }

    #contact-number{
        width: auto;
        padding: 3px;
    }

    .view-container{
        min-height: 100%; 
    }

}

@media only screen and (max-width: 550px) {
    #dvDisplay{
        border: none;
        max-width: 100%;
    }

    #dvTabMenu{
        margin-left: 0px;
    }

    #dvTabMenu md-content{
        width: 100%;
    }

    #contact-number{
        width: auto;
        padding: 1px;
    }

    #logo-container{
        width: 50%;
    }

    #logo-container h1{
        font-size: 16px;
        margin: 0px;
    }
    .branding{
        height: 60px;
    }
    .logo-img-top{
        padding: 2px;
    }
    .view-container{
        min-height: 100%; 
    }
}
