<div class="page-container">
    <div class="dv-courses-page-container">
    <div>
        <h2>Popular courses available in Australia</h2>
        <ul>
        <li>General English courses</li>
        <li>Bachelor and Masters of IT</li>
        <li>Bachelor and Masters of Professional Accounting/ Commerce</li>
        <li>Bachelor and Masters of Education</li>
        <li>Nursing</li>
        <li>Professional Year Course</li>
        </ul>
    </div>
    <div>
        <h2>Trade and Mining Courses</h2>
         <ul>
        <li>Automotive</li>
        <li>Boiler maker</li>
        <li>Welder</li>
        <li>Fabrication</li>
        <li>Cabinet Making </li>
        <li>Automotive Electrical Technician</li>
        </ul>
    </div>
    </div>
</div>