<div class="page-container">
    <!--    <div data-ng-controller="CarouselCtrl" id="slides_control">
            <div style="height: 305px">
                <carousel interval="myInterval">
                    <slide ng-repeat="slide in slides" active="slide.active">
                        <img ng-src="{{slide.image}}" style="margin:auto;">
                        <div class="carousel-caption">
                            <p>{{slide.text}}</p>
                        </div>
                    </slide>
                </carousel>
            </div>
    
        </div>-->
    <div class="dv-home-page-container">
        <div>
            <p><b>Vision:</b> To provide correct option for your career <br>
                <b>Commitment:</b> Best solution for your carer success
            </p><br>
            <div>
                <div id="dv-why-study">
                    <h3>Why study in Australia?</h3>
                    <ul>
                        <li>3<sup>rd</sup> most popular international student destination in the world</li>
                        <li>22000 courses, 1100 institutions </li>
                        <li>88 out of 100 top global universities are Australian</li>
                        <li>5 out of 30 best cities to live in the world are in Australia</li>
                    </ul>
                </div>
                <div id="main-image-home">
                    <img class="home-page-main-img" src="src/main/webapp/resources/images/Picture1.png" alt=""/>
                </div>
                <div id="dv-why-studyh">
                    <h3>Visa Options</h3>
                    <ul>
                        <li>Visitor Visa: Maximum 3 months study</li>
                        <li>Working holiday visa: Maximum 4 months study</li>
                        <li>Student Guardian visa</li>
                        <li>Higher Education visa: up to 3 years Masters course work</li>
                        <li>Research course work: up to 4 years research work</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>