
#dv-contact-form{
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid green;
    border-radius: 6px;
    padding: 8px;
}

.enquiry_form_table tr td{
    padding: 2px;
}

.enquiry_form_table tr td input{
    width: 300px;
    line-height: 1.8em;
}

.enquiry_form_table tr td textArea{
    width: 300px;
    height: 100px;
}

.enquiry-submit-btn{
    text-align: center;
    padding-top: 20px;
   // padding-left: 305px;
}
.enquiry-submit-btn .md-button{
    background: cyan;
}
.contact-message-txt-area{
    width: 100%;
    height: 100px;
}
.required-field{
color: red;
float: right;
}



@media only screen and (max-width:1279px) and (min-width:956px) {
    #dv-contact-form{
        width: 60%;
    }

    .contact-message-txt-area{
        width: 100%;
    }
    .enquiry-submit-btn{
        padding: 15px;
    }

}

@media only screen and (max-width: 955px) {
    #dv-contact-form{
        width: 75%;
        border: none;
        padding: 5px;
    }

    .enquiry-submit-btn{
        padding-top: 10px;
        margin-right: 100px;
    }

    .enquiry_form_table tr td input{
        width: 150px;
        line-height: 1.1em;
    }

    .contact-message-txt-area{
        width: 335px;
        height: 100px;
    }

}

@media only screen and (max-width: 550px) {
    #dv-contact-form{
        width: 100%;
        border: none;
        padding: 2px;
    }

    .enquiry-submit-btn, .enquiry-submit-btn .md-button{
        width: 100%;
        border-radius: 5px;
        margin: 0px;
    }

    .enquiry_form_table tr td input{
        width: 100%;
        line-height: .8em;
    }

    .contact-message-txt-area{
        width: 100%;
        height: 100%;
    }

}
