
#dv-home-page-carousel-wrapper{
    width: 55%;
    float: right;
}
#dv-study-options{
    width: 45%;
    float: left;
    padding-right: 5px;
}
#dv-home-page-carousel-wrapper .glyphicon-chevron-left, #dv-home-page-carousel-wrapper .glyphicon-chevron-right{
    font-size: 15px;
}

@media only screen and (max-width:1279px) and (min-width:956px) {

}

@media only screen and (max-width: 955px) {

    #dv-study-options{
        width: 45%;
    }

}

@media only screen and (max-width: 755px) {

    
    #dv-study-options{
        width: 100%;
    }
    #dv-home-page-carousel-wrapper {
        display: none;
    }

}

@media only screen and (max-width: 550px) {
    #dv-study-options{
        width: 100%;
    }

    #dv-home-page-carousel-wrapper {
        display: none;
    }

}