<div id="dvFooter"  class="gallops-footer">
    <div id="dv-footer-content">
        <div>
            <tt id="ttAttribution" class="biq-attribution" >Powered by 
                 <img src="src/main/webapp/resources/images/footer-logo.jpg">
            </tt>
        </div>
        <div><span class="terms-of-use">{{copyrightYear}} &copy; All Rights Reserved. Gallops Education Services</span></div>
        <div id="dv-designer-info"><span id="ttAppVersion" data-value="APP_VERSION" class="app-version-indicator">Version 1.0</span>
            <br><span id="ttDesigner" class="app-designer">Design &commat; dhrubsah</span>
        </div>
    </div>
</div>
