<div id="dvFooter"  class="gallops-footer">
    <div id="dv-footer-content">
        <div>
            <tt id="ttAttribution" class="biq-attribution" >Powered by 
                <img alt="Gallops Edu logo" alt="Gallops Edu logo" src="" />
            </tt>
        </div>
        <div><span class="terms-of-use"><a href="">&copy;All Rights Reserved. Gallops Education Services</a></span></div>
        <div id="dv-designer-info"><span id="ttAppVersion" data-value="APP_VERSION" class="app-version-indicator">Version 1.0</span>
            <br><span id="ttDesigner" class="app-designer">Design &commat; dhrubsah</span>
        </div>
    </div>
</div>
