<!--
The main heading available on all pages.
-->
<div id="dvHeading" class="gallops-main-heading" >
    <img id="imgLogo" src="" alt="logo image"  class="gallops-logo"/>
    <div id="dvTabMenu" class="gallops-section-menu tabbed">
        {{testNav}}
<!--        <nav>
            <tabset>
                <tab data-ng-repeat="tab in sectionTabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled" data-ng-click="navigate(tab.path)">
                </tab>
            </tabset>
        </nav>-->
    </div>
     <img id="imgBranding" src="" alt="brand image" class="gallops-branding"/>
</div>